<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
    <h1><center>Loading...</center></h1><br>

    <h2><center>Nice to meet you. I am the base and you have the data. I think we could become good friends. You can put your data in me, well, or if you have already 
    done this, you can view it or change it. If you decide to delete them, then of course I will sadly help you do this.</center></h2>

    <br><center>
    <div class="col-sm-4">
        <div class="container">
            <form action="/register" method="GET">
                <button type="submit" class="gradient-button">Enter personal data</button>
            </form><br>

            <form action="/get" method="GET">
                <button type="submit" class="gradient-button">View personal data</button>
            </form><br>

            <form action="/update" method="GET">
                <button type="submit" class="gradient-button">Change personal data</button>
            </form><br>

            <form action="/delete" method="GET">
                <button type="submit" class="gradient-button">Delete from the database</button>
            </form><br>

            <form action="/posts" method="GET">
                <button type="submit" class="gradient-button">Watch all data</button>
            </form><br>
        </div>
    </div>
    </center>
</body>
</html>