<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <h1><center>All data</center></h1>

    {% for val in articles %}
    <div class="allert allert-info">
        <h2>id: {{val.id}}</h2>
        <h2>name: {{val.name}} | last name: {{val.last_name}} | middle name: {{val.middle_name}} | num: {{val.num_of_pasport}} | time: {{val.date.date()}}</h2>
    </div>
    {% endfor %}
</body>
</html>